body {
    background-color: #000000;
}
#tweets-list {
    list-style-type: none;
    font-family: arial, sans-serif;
}

.tweet {
    border: 1px solid #1e9bf0;
    background-color: #1f2327;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.favorite {
    border: 2px solid salmon;
}